page-find-number {
  $max: 360;
  $list: 1;

  @for $i from 2 through 100 {
    $val: random($max);
    $list: append($list, $val)
  }
  .night-mode {
    background: black;
  }
  @for $i from 1 through 100 {
    $rs: top;
    $val: nth($list, $i);
    @if $val>=90 and $val < 180 {
      $rs: right
    }
    @if $val>=180 and $val < 270 {
      $rs: bottom
    }
    @if $val>=270 {
      $rs: left
    }
    .container-ceil:nth-child(#{$i}) {
      transition: all 0.5s;
      position: absolute;
      .text {
        padding: 3px;
        position: relative;
        display: inline-block;
        font-size: 1em;
        &.highlight {
          animation: changeColor 0.4s;
        }
        &.small {
          font-size: 0.8em;
        }
        &.normal {
          font-size: 1em;
        }
        &.large {
          font-size: 1.3em;
        }
        @include circle-number($val);
      }
    }
  }
}

@keyframes changeColor {
  0% {
    color: red;
  }
  25% {
    color: green;
  }
  50% {
    color: blue;
  }
  75% {
    color: yellow;
  }
}

@keyframes zoomOut {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
